<!--<table>-->
<!--  <tr *ngFor="let bla of grid.rows(); let row=index">-->
<!--    <td *ngFor="let blubb of grid.columns(row); let column=index">-->
<!--      <div>-->
<!--        {{grid.cell(row, column).name()}}-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->

<mat-grid-list cols="{{grid.columnCount()}}" rowHeight="1:1">
  <mat-grid-tile
    *ngFor="let cell of grid.allCells()"
    [style.background]="cell.color"
  >
    <img src="../../assets/icons/{{cell.imageName()}}" alt="Image">
  </mat-grid-tile>
</mat-grid-list>
